// $font-path: "../fonts/mitr";

@font-face {
    font-family: 'Mitr';
    font-style: normal;
    font-weight: 400;
    src: url('../../resources/fonts/mitr/mitr-v5-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Mitr Regular'), local('Mitr-Regular'),
         url('../../resources/fonts/mitr/mitr-v5-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../../resources/fonts/mitr/mitr-v5-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../../resources/fonts/mitr/mitr-v5-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../../resources/fonts/mitr/mitr-v5-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../../resources/fonts/mitr/mitr-v5-latin-regular.svg#Mitr') format('svg'); /* Legacy iOS */
  }